.guide-page {
  padding-top: 100px;
  opacity: 0;
  transition: all 3s;
}
.guide-page .main-pic {
  width: 200px;
  height: 200px;
  display: block;
  margin: 0 auto;
}
.guide-page .title {
  color: #242424;
  font-weight: bold;
  font-size: 30PX;
  line-height: 40px;
  text-align: center;
  width: 100%;
  margin-top: 20px;
}
.guide-page .slogan1, .guide-page .slogan2 {
  color: green;
  font-size: 46PX;
  line-height: 60px;
  text-align: center;
  width: 100%;
  font-weight: bold;
  font-style: italic;
}
.guide-page .slogan1 {
  margin-top: 40px;
}
.guide-page .arrow-right {
  width: 100%;
  text-align: center;
  margin-top: 100px;
  font-size: 30PX;
  color: green;
  font-weight: bold;
}

