.banner-item {
  width: 100%;
  height: 200px;
  background-color: aqua;
  font-size: 40PX;
  display: flex;
  justify-content: center;
  align-items: center;
}
.categories {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  .category-item {
    width: 25%;
    height: 100px;
    text-align: center;
    line-height: 100px;
    font-size: 20PX;
    border: 1px solid #ccc;
  }
}
.new-goods {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
  .new-good-item { 
    width: 30.33%;
    height: 150px;
    flex-shrink: 0;
    margin-right: 1%;
    text-align: center;
    line-height: 150px;
    font-size: 18PX;
    border: 1px solid #ccc;
  }
}
.bottom-nav {
  width: 100%;
  height: 50px;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #fff;
  display: flex;
  align-items: center;
  border-top: 1px solid #ccc;
  .bottom-nav-item {
    width: 25%;
    height: 50px;
    line-height: 50px;
    font-size: 16PX;
    text-align: center;
    color: #333
  };
}