.bottom-nav {
  width: 100%;
  height: 50px;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #fff;
  display: flex;
  align-items: center;
  border-top: 1px solid #ccc;
  .bottom-nav-item {
    width: 25%;
    height: 50px;
    line-height: 50px;
    font-size: 16PX;
    text-align: center;
    color: #333;
    a {
      text-decoration: none;
      color: #333;
    }
    &.active a {
      color: aqua;
      font-weight: bolder;
      text-decoration: none
    }
  };
}